@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black lg:w-[1140px] mx-auto;
  }
}

body {
  font-family: "Assistant", sans-serif;
  color: rgb(170, 170, 170);
}
.span {
  font-family: "Antonio", sans-serif;
}
.header {
  color: rgba(149, 149, 149, 0.2);
}
.banner {
  background-image: url(../public/bg.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-img {
  background-image: url(../public/bg.jpg);
  z-index: 99;
  object-fit: fill;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
